@{
    ViewBag.Title = "Web 100";
}
@section carousel {
    <section class="section__carousel">
        <div class="carousel slide" data-ride="carousel" id="slideshow">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Content/assets/images/poster/yeulathathu.jpg" title="" alt="" />
                </div>
                <div class="carousel-item">
                    <img src="~/Content/assets/images/poster/noinaycoanh.jpg" title="" alt="" />
                </div>
                <div class="carousel-item">
                    <img src="~/Content/assets/images/poster/thangdien.jpg" title="" alt="" />
                </div>
                <div class="carousel-item">
                    <img src="~/Content/assets/images/poster/mattroicuaem.jpg" title="" alt="" />
                </div>
            </div>
            <ol class="carousel-indicators dot">
                <li data-target="#slideshow" data-slide-to="0" class="dot__item dot__item--one active"></li>
                <li data-target="#slideshow" data-slide-to="1" class="dot__item dot__item--two"></li>
                <li data-target="#slideshow" data-slide-to="2" class="dot__item dot__item--three"></li>
                <li data-target="#slideshow" data-slide-to="3" class="dot__item dot__item--four"></li>
            </ol>
        </div>
    </section>
}
@section bodyMain {
    <!-- ==== Bai hat moi ==== -->
    <section class="section section__newSong">
        <h2 class="section__title">Bài Hát Mới</h2>
        <div class="container">
            <div class="row newSong">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="/PageDetails/AnhOi">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/anhoiolai.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">Anh Ơi Ở Lại</div>
                                <div class="newSong__info--artist">Chi Pu</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/banhmikhong.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">Bánh Mì Không</div>
                                <div class="newSong__info--artist">Đạt G x Du Uyên</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/chotaganhon.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">Cho Ta Gần Hơn</div>
                                <div class="newSong__info--artist">Chi Pu</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/ifyouloveme.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">If You Love Me</div>
                                <div class="newSong__info--artist">K-ICM</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/simplelove.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">Simple Love</div>
                                <div class="newSong__info--artist">Obito x Seachains</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/thaylayeuthuong.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">Thầy Là Yêu Thương</div>
                                <div class="newSong__info--artist">OnlyC</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/fancy.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">Fancy</div>
                                <div class="newSong__info--artist">Twice</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/peekaboo.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">Peek A Boo</div>
                                <div class="newSong__info--artist">Red Velvet</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/windflower.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">Wind Flower</div>
                                <div class="newSong__info--artist">Mamamoo</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/justright.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">Just Right</div>
                                <div class="newSong__info--artist">Got7</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/icy.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">ICY</div>
                                <div class="newSong__info--artist">ITZY</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/psycho.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">Psycho</div>
                                <div class="newSong__info--artist">Red Velvet</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/calma.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">Calma</div>
                                <div class="newSong__info--artist">Alan Walker</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/happier.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">Happier</div>
                                <div class="newSong__info--artist">Marshmello</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/nonono.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">No No No</div>
                                <div class="newSong__info--artist">TheFatRat</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/play.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">Play</div>
                                <div class="newSong__info--artist">Alan Walker</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/sunlight.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">Sunlight</div>
                                <div class="newSong__info--artist">TheFatRat</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="newSong__item">
                            <div>
                                <img class="newSong__img" src="~/Content/assets/images/album/havana.jpg" title="" alt="" />
                            </div>
                            <div class="newSong__info">
                                <div class="newSong__info--title">Havana</div>
                                <div class="newSong__info--artist">Camila Cabello</div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- more -->
                <div class="container" id="more__newSong--content">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="newSong__item">
                                    <div>
                                        <img class="newSong__img" src="~/Content/assets/images/album/play.jpg" title="" alt="" />
                                    </div>
                                    <div class="newSong__info">
                                        <div class="newSong__info--title">Play</div>
                                        <div class="newSong__info--artist">Alan Walker</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="newSong__item">
                                    <div>
                                        <img class="newSong__img" src="~/Content/assets/images/album/sunlight.jpg" title="" alt="" />
                                    </div>
                                    <div class="newSong__info">
                                        <div class="newSong__info--title">Sunlight</div>
                                        <div class="newSong__info--artist">TheFatRat</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="newSong__item">
                                    <div>
                                        <img class="newSong__img" src="~/Content/assets/images/album/havana.jpg" title="" alt="" />
                                    </div>
                                    <div class="newSong__info">
                                        <div class="newSong__info--title">Havana</div>
                                        <div class="newSong__info--artist">Camila Cabello</div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="newSong__item">
                                    <div>
                                        <img class="newSong__img" src="~/Content/assets/images/album/play.jpg" title="" alt="" />
                                    </div>
                                    <div class="newSong__info">
                                        <div class="newSong__info--title">Play</div>
                                        <div class="newSong__info--artist">Alan Walker</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="newSong__item">
                                    <div>
                                        <img class="newSong__img" src="~/Content/assets/images/album/sunlight.jpg" title="" alt="" />
                                    </div>
                                    <div class="newSong__info">
                                        <div class="newSong__info--title">Sunlight</div>
                                        <div class="newSong__info--artist">TheFatRat</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="newSong__item">
                                    <div>
                                        <img class="newSong__img" src="~/Content/assets/images/album/havana.jpg" title="" alt="" />
                                    </div>
                                    <div class="newSong__info">
                                        <div class="newSong__info--title">Havana</div>
                                        <div class="newSong__info--artist">Camila Cabello</div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="newSong__item">
                                    <div>
                                        <img class="newSong__img" src="~/Content/assets/images/album/play.jpg" title="" alt="" />
                                    </div>
                                    <div class="newSong__info">
                                        <div class="newSong__info--title">Play</div>
                                        <div class="newSong__info--artist">Alan Walker</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="newSong__item">
                                    <div>
                                        <img class="newSong__img" src="~/Content/assets/images/album/sunlight.jpg" title="" alt="" />
                                    </div>
                                    <div class="newSong__info">
                                        <div class="newSong__info--title">Sunlight</div>
                                        <div class="newSong__info--artist">TheFatRat</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="#">
                                <div class="newSong__item">
                                    <div>
                                        <img class="newSong__img" src="~/Content/assets/images/album/havana.jpg" title="" alt="" />
                                    </div>
                                    <div class="newSong__info">
                                        <div class="newSong__info--title">Havana</div>
                                        <div class="newSong__info--artist">Camila Cabello</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <button class="more" id="more__newSong">Xem Thêm...</button>
                </div>
            </div>
        </div>
    </section>
    <!-- video ca nhac -->
    <section class="section section__newVideo">
        <h2 class="section__title">Video Ca Nhạc</h2>
        <div class="container">
            <div class="row video">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="video__item">
                            <div>
                                <img class="video__img" src="~/Content/assets/images/poster/anhoiolai.jpg" title="" alt="" />
                            </div>
                            <div class="video__info">
                                <span>Anh Ơi Ở Lại - Chi Pu</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="video__item">
                            <div>
                                <img class="video__img" src="~/Content/assets/images/poster/anhoiolai.jpg" title="" alt="" />
                            </div>
                            <div class="video__info">
                                <span>Anh Ơi Ở Lại - Chi Pu</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="video__item">
                            <div>
                                <img class="video__img" src="~/Content/assets/images/poster/anhoiolai.jpg" title="" alt="" />
                            </div>
                            <div class="video__info">
                                <span>Anh Ơi Ở Lại - Chi Pu</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="video__item">
                            <div>
                                <img class="video__img" src="~/Content/assets/images/poster/anhoiolai.jpg" title="" alt="" />
                            </div>
                            <div class="video__info">
                                <span>Anh Ơi Ở Lại - Chi Pu</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="video__item">
                            <div>
                                <img class="video__img" src="~/Content/assets/images/poster/anhoiolai.jpg" title="" alt="" />
                            </div>
                            <div class="video__info">
                                <span>Anh Ơi Ở Lại - Chi Pu</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="video__item">
                            <div>
                                <img class="video__img" src="~/Content/assets/images/poster/anhoiolai.jpg" title="" alt="" />
                            </div>
                            <div class="video__info">
                                <span>Anh Ơi Ở Lại - Chi Pu</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="video__item">
                            <div>
                                <img class="video__img" src="~/Content/assets/images/poster/anhoiolai.jpg" title="" alt="" />
                            </div>
                            <div class="video__info">
                                <span>Anh Ơi Ở Lại - Chi Pu</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="video__item">
                            <div>
                                <img class="video__img" src="~/Content/assets/images/poster/anhoiolai.jpg" title="" alt="" />
                            </div>
                            <div class="video__info">
                                <span>Anh Ơi Ở Lại - Chi Pu</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="video__item">
                            <div>
                                <img class="video__img" src="~/Content/assets/images/poster/anhoiolai.jpg" title="" alt="" />
                            </div>
                            <div class="video__info">
                                <span>Anh Ơi Ở Lại - Chi Pu</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="video__item">
                            <div>
                                <img class="video__img" src="~/Content/assets/images/poster/anhoiolai.jpg" title="" alt="" />
                            </div>
                            <div class="video__info">
                                <span>Anh Ơi Ở Lại - Chi Pu</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="video__item">
                            <div>
                                <img class="video__img" src="~/Content/assets/images/poster/anhoiolai.jpg" title="" alt="" />
                            </div>
                            <div class="video__info">
                                <span>Anh Ơi Ở Lại - Chi Pu</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <div class="video__item">
                            <div>
                                <img class="video__img" src="~/Content/assets/images/poster/anhoiolai.jpg" title="" alt="" />
                            </div>
                            <div class="video__info">
                                <span>Anh Ơi Ở Lại - Chi Pu</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-12">
                    <button class="more moreVideo">Xem Thêm...</button>
                </div>
            </div>
        </div>
    </section>
    <!-- album -->
    <section class="section section__album">
        <h2 class="section__title">Album</h2>
        <div class="owl-carousel owl-theme owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item">
                        <div>
                            <a href="#">
                                <img src="~/Content/assets/images/Album/inyourarea.jpg" title="" alt="" />
                            </a>
                        </div>
                        <div class="details">
                            <div class="details__title">
                                <a href="#">Blackpink in Your Area</a>
                            </div>
                            <div class="details__artist">
                                <a href="#">
                                    <small>BlackPink</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div>
                            <a href="#">
                                <img src="~/Content/assets/images/Album/lover.png" title="" alt="" />
                            </a>
                        </div>
                        <div class="details">
                            <div class="details__title">
                                <a href="#">Lover</a>
                            </div>
                            <div class="details__artist">
                                <a href="#">
                                    <small>Taylor Swift</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div>
                            <a href="#">
                                <img src="~/Content/assets/images/Album/mapofthesoul.jpg" title="" alt="" />
                            </a>
                        </div>
                        <div class="details">
                            <div class="details__title">
                                <a href="#">Map Of The Soul</a>
                            </div>
                            <div class="details__artist">
                                <a href="#">
                                    <small>BTS</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div>
                            <a href="#">
                                <img src="~/Content/assets/images/Album/thankyounext.png" title="" alt="" />
                            </a>
                        </div>
                        <div class="details">
                            <div class="details__title">
                                <a href="#">Thank U Next</a>
                            </div>
                            <div class="details__artist">
                                <a href="#">
                                    <small>Ariana Grande</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div>
                            <a href="#">
                                <img src="~/Content/assets/images/Album/postmalonehollywood.jpg" title="" alt="" />
                            </a>
                        </div>
                        <div class="details">
                            <div class="details__title">
                                <a href="#">Hollywood's Bleeding</a>
                            </div>
                            <div class="details__artist">
                                <a href="#">
                                    <small>Post Malone</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div>
                            <a href="#">
                                <img src="~/Content/assets/images/Album/Joytime.jpg" title="" alt="" />
                            </a>
                        </div>
                        <div class="details">
                            <div class="details__title">
                                <a href="#">JoyTime</a>
                            </div>
                            <div class="details__artist">
                                <a href="#">
                                    <small>Marshmello</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section bodyAside {
    <!--topic -->
    <section class="section section__topic">
        <h2 class="section__title">Chủ Đề Hot</h2>
        <div class="topic">
            <a href="#">
                <img src="~/Content/assets/images/theme1.jpg" title="" alt="" />
            </a>
        </div>
        <div class="topic">
            <a href="#">
                <img src="~/Content/assets/images/theme2.jpg" title="" alt="" />
            </a>
        </div>
        <div class="topic">
            <a href="#">
                <img src="~/Content/assets/images/theme3.jpg" title="" alt="" />
            </a>
        </div>
        <div class="topic">
            <a href="#">
                <img src="~/Content/assets/images/theme4.jpg" title="" alt="" />
            </a>
        </div>
        <div class="topic">
            <a href="#">
                <img src="~/Content/assets/images/theme5.jpg" title="" alt="" />
            </a>
        </div>
        <div class="topic">
            <a href="#">
                <img src="~/Content/assets/images/theme6.jpg" title="" alt="" />
            </a>
        </div>
    </section>

    <!-- bxh song -->
    <section class="section section__bxhSong">
        <h2 class="section__title">BXH Bài Hát</h2>
        <div class="tab tab__bxh">
            <button class="bxhSong-national active" data-target="bxhSong-vn">Việt Nam</button>
            <button class="bxhSong-national" data-target="bxhSong-auMy">Âu Mỹ</button>
            <button class="bxhSong-national" data-target="bxhSong-korean">Hàn Quốc</button>
        </div>
        <!-- bxh viet nam -->
        <div class="bxhSong" id="bxhSong-vn">
            <div class="bxhSong__top">
                <div class="bxhSong__img">
                    <a href="#">
                        <img src="~/Content/assets/images/Album/anhoiolai.jpg" title="" alt="" />
                        <div class="bxhSong__top--one">1</div>
                    </a>
                </div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Anh Ơi Ở Lại</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Chi Pu</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--2">2</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Anh Thanh Niên</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Huy R</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--3">3</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Sợ Rằng Em Biết Anh Còn Yêu Em</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Juun Đăng Dũng</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">4</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Em Có Nghe</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Kha</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">5</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Thuận Theo Ý Trời</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Bùi Anh Tuấn</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">6</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Do For Love</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>B Ray,</small>
                        </a>
                        <a href="#">
                            <small>AMee</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">7</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Thiệp Hồng Người Dưng</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>X2X</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">8</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Chân Ái</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Orange,</small>
                        </a>
                        <a href="#">
                            <small>Khói,</small>
                        </a>
                        <a href="#">
                            <small>Châu Đăng Khoa</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">9</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Cần Gì Hơn?</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Tiên Tiên,</small>
                        </a>
                        <a href="#">
                            <small>JustaTee,</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">10</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Cánh Hoa Tổn Thương</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Hoàng Yến Chibi</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- bxh au my -->
        <div class="bxhSong" id="bxhSong-auMy">
            <div class="bxhSong__top">
                <div class="bxhSong__img">
                    <a href="#">
                        <img src="~/Content/assets/images/Album/havana.jpg" title="" alt="" />
                        <div class="bxhSong__top--one">1</div>
                    </a>
                </div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Havana</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Camila Cabello</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--2">2</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Anh Thanh Niên</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Huy R</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--3">3</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Sợ Rằng Em Biết Anh Còn Yêu Em</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Juun Đăng Dũng</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">4</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Em Có Nghe</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Kha</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">5</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Thuận Theo Ý Trời</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Bùi Anh Tuấn</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">6</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Do For Love</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>B Ray,</small>
                        </a>
                        <a href="#">
                            <small>AMee</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">7</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Thiệp Hồng Người Dưng</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>X2X</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">8</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Chân Ái</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Orange,</small>
                        </a>
                        <a href="#">
                            <small>Khói,</small>
                        </a>
                        <a href="#">
                            <small>Châu Đăng Khoa</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">9</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Cần Gì Hơn?</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Tiên Tiên,</small>
                        </a>
                        <a href="#">
                            <small>JustaTee,</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">10</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Cánh Hoa Tổn Thương</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Hoàng Yến Chibi</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- hxh han quoc -->
        <div class="bxhSong" id="bxhSong-korean">
            <div class="bxhSong__top">
                <div class="bxhSong__img">
                    <a href="#">
                        <img src="~/Content/assets/images/Album/fancy.jpg" title="" alt="" />
                        <div class="bxhSong__top--one">1</div>
                    </a>
                </div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Fancy</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Twice</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--2">2</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Anh Thanh Niên</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Huy R</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--3">3</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Sợ Rằng Em Biết Anh Còn Yêu Em</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Juun Đăng Dũng</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">4</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Em Có Nghe</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Kha</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">5</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Thuận Theo Ý Trời</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Bùi Anh Tuấn</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">6</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Do For Love</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>B Ray,</small>
                        </a>
                        <a href="#">
                            <small>AMee</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">7</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Thiệp Hồng Người Dưng</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>X2X</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">8</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Chân Ái</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Orange,</small>
                        </a>
                        <a href="#">
                            <small>Khói,</small>
                        </a>
                        <a href="#">
                            <small>Châu Đăng Khoa</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">9</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Cần Gì Hơn?</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Tiên Tiên,</small>
                        </a>
                        <a href="#">
                            <small>JustaTee,</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bxhSong__top bxhSong__stt">
                <div class="bxhSong__top--more3">10</div>
                <div class="bxhSong__info">
                    <div class="bxhSong__info--title">
                        <a href="#">Cánh Hoa Tổn Thương</a>
                    </div>
                    <div class="bxhSong__info--artist">
                        <a href="#">
                            <small>Hoàng Yến Chibi</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    <script>
        // slider owl-carousel
        $(document).ready(() => {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 15,
                responsive: {
                    0: {
                        items: 1
                    },
                    400: {
                        items: 2
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 4
                    }
                }
            });
        })
    </script>
}
