
@{
    ViewBag.Title = "Anh Ơi Ở Lại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section carousel {
    <!-- Trang chi tiết không code carousel ở section này -->
}
@section bodyMain {
    <div>Nội dung bên trái viết ở đây</div>
}
@section bodyAside {
    <div>Nội dung bên phải viết ở đây</div>
}

